.bg-md-light {
  background-color: #f0f0f0 !important;
}
.small-md {
  font-size: 90%;
  font-weight: 400;
}
.success{color: #28a745;}
.info{color: #17a2b8;}
.orange{color: #fd7e14;}
.warning{color: #ffc107;}
.primary{color: #007bff;}
.primary1{color: #2196f3;}
.secondary{color: #6c757d;}
.danger{color: #dc3545;}

li{
  list-style: none;
}
.price{
  font-weight: 500;
  color: #28a745;
}

.fs-1{font-size: 15px;}
.fs-2{font-size: 17px;}
.fs-3{font-size: 19px;}
.fs-4{font-size: 21px;}
.fs-5{font-size: 23px;}

.size-color-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.navbar-header {
  display: -ms-flexbox;
  display: flex;
  background-color: #3e444a !important;
  padding: 0.3rem 1rem;
}
.nav-wrapper{
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-header .nav-wrapper a{
  color: #ddd;
  font-size: 15px;
  transition: .2s;
}
.navbar-header .nav-wrapper i, footer i {
  color: #28a745;
}
.navbar-header li a:hover {
  color: #5dbb73;
  text-decoration: none;
}

/* .title{
  position: relative;
} */
.title-1{
  display: inline-flex;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  padding-top: 15px;
  border-radius: 0.2em;
  /* text-align: center; */
  /* margin: 10px auto; */
}
.title-line {
  /* position: absolute; */
  bottom: 2px;
  left: 1px;
  width: 90px;
  height: 5px;
  /* background-color: #495bd6; */
  background: rgba(40, 167, 69, 0.5);
  border-radius: .2em;
  /* margin: 10px auto; */
  transition: ease-in-out .5s;
}

.box-shadows{
  box-shadow: 0px 10px 10px 0px rgb(219, 219, 219);/* at the bottom */
  box-shadow: 10px 0px 10px 0px rgb(219, 219, 219);/* right side */
  box-shadow: 0px 5px 15px 5px #cacaca;/* left, right, bottom */
  box-shadow: 0px 2px 10px 0px rgb(219, 219, 219);/* full side shadow */
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.bs-dark{
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.center{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* flex-wrap: wrap;
  max-width: 1500px; */
}
.date{
  font-family: inherit;
  font-size: 13px;
}
.dismiss-text{
  font-size: 18px;
  color: #8d99ae;
  text-decoration: line-through;
}
nav i, button i, .date-wrapper i, footer i, #registration-wrapper i {
  margin-right: 8px;
}

/* ########################## Form ########################## */
.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .form-header {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}
.au-input {
  line-height: 43px;
  border: 1px solid #6c757d;
  font-family: inherit;
  font-size: 14px;
  color: #fff;
  background: #6c757d;
  padding: 0 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sub-input {
  line-height: 43px;
  border: 1px solid #6c757d;
  font-family: inherit;
  font-size: 14px;
  color: #fff;
  background: #fff;
  padding: 0 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.au-input::-webkit-input-placeholder {
  color: #ddd;
  opacity: 1;
}

.au-input::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}

.au-input:-ms-input-placeholder {
  color: #ddd;
  opacity: 1;
}

.au-input::-ms-input-placeholder {
  color: #ddd;
  opacity: 1;
}

.au-input::placeholder {
  color: #ddd;
  opacity: 1;
}
.au-input--xl {
  min-width: 935px;
}

@media (max-width: 1600px) {
  .au-input--xl {
      min-width: 350px;
  }
}

@media (max-width: 991px) {
  .au-input--xl {
      min-width: 350px;
  }
}

@media (max-width: 767px) {
  .au-input--xl {
      min-width: 150px;
  }
}

.au-btn--submit {
  position: relative;
  right: 0;
  min-width: 65px;
  line-height: 43px;
  border: 1px solid #6c757d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #4272d7;
  cursor: pointer;
  margin-left: -3px;
}

.au-btn--submit:hover {
  background: #3868cd;
}

.au-btn--submit > i {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-btn{
  /* font-size: small; */
  display: flex;
  justify-content: center;
}
.hidden{
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
}
.remove{
  display: inline-flex;
  align-items: center;
  padding: 5px;
  color: #ecb81c;
  border-radius: 0.3em;
  transition: 0.2s;
}
.remove:hover{
  color: #806516;
}

.cart {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cart_count {
  position: absolute;
  bottom: 8px;
  right: -15px;
  width: 23px;
  height: 23px;
  background: #0e8ce4;
  border-radius: 50%;
  text-align: center;
}
.pro-new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* bottom: -15px;
  right: -14px; */
  bottom: -16px;
  right: 235px;
  width: 35px;
  height: 35px;
  color: #fff;
  background: #0e8ce4;
  z-index: 9;
  border-radius: 50%;
}
.date-wrapper{
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 5px;
}

.form-header-1{
  padding: 10px;
  margin-bottom: 10px;
  background: #f3f2f2;
}

.bg-white{
  background: #fff;
}

.product-btn{
  position: relative;
  padding: 5px;
  border-radius: .2em;
}
.product-btn:hover{
  text-decoration: none;
  background: #ddd;
  transition: .3s;
}
a .tooltipp, button .tooltipp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background: #17a2b8;
  color: #FFF;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
a:hover .tooltipp, button:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

.hot-deal{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background: #ddd;
}
.countdown{
  font-family: cursive;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
}
.section{
  margin: 60px 0px;
}

#top-footer a {
  text-decoration: none;
  color: #646894;
}
#top-footer a:hover {
  color: #208838;
}
#bottom-footer {
    background: #1E1F29;
}
.copyright {
  margin-top: 30px;
  display: block;
  font-size: 14px;
}
.copyright a {
  color: #28a745;
  text-decoration: none;
}
.copyright a:hover {
  color: #208838;
}
.footer-payments li {
  display: inline-block;
  margin-right: 5px;
}
.footer-payments li a {
  color: #15161D;
  font-size: 36px;
  display: block;
}

.card-link-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.img-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}
.img-wrapper:hover .img-text-wrapper a{
  color: #fff;
  transition: 1s;
}
.img-text-wrapper{
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  transition: 1s;
}
.img-text-wrapper a{
  display: block;
  padding: 5px;
  text-decoration: none;
  color: transparent;
  transition: 1s;
}
.img-darken{
  transition: ease-in-out 1s;
  filter: brightness(20%);
}
