{% extends 'base.html' %}
{% block title %}New Password | DjangoSMS{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="login">
  <h3 class="login-title">Confirm New Password</h3>

  <form action="" method="POST" class="form-box">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Reset Password">
  </form>
</div>
{% endblock content %}
