{% extends "base.html" %}

{% block content %}
 <div class='row  mb-3'>
    {% if query %}
    <div class='col-12' >
        ({{ obj_counter }}) Results for <b><i>"{{ query }}"</i></b>
        <hr/>
    </div>
    {% else %}

    <div class='col-12 col-md-6 mx-auto py-5'>

        <form class="form-header" action="{% url 'query' %}" method="GET">
            <input class="au-input au-input--xl" type="text" name="q" aria-label="Search" value="{{ request.GET.q }}" placeholder="Search for products..." />
            <button class="au-btn--submit" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

    </div>
    <div class='col-12'><hr></div>
    {% endif %}
</div>

<div class='row'>
    {% for obj in object_list %}
        <div class='col'>
            <div class="card" style="width: 20rem; background: #f3f3f3;">
            
                <a href="{{ obj.get_absolute_url }}">
                    <img class="card-img-top" src="{{ obj.image.url }}" alt="{{ obj.title}} logo">
                </a>
            
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ obj.get_absolute_url }}">{{ obj.title|title }}</a></h4>
                    <p>{{ obj.timestamp|timesince }} ago</p>
                    <p class="card-text">{{ obj.description|linebreaks|truncatewords:14 }}</p>
                    
                    <div class='text-center'>
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary my-2">View</a>
                    </div>
                </div>
            </div>
            
        {% if forloop.counter|divisibleby:3 %}
         </div> </div><div class='row'><div class='col-12'><hr/></div>
        {% else %}
         </div>  
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
