{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class="section">
    <div class='container'>

        <div class="title-1">About us</div>
        <div class="title-line mb-5"></div>

    <div class='row'>
    <div class='col'>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
            expedita aperiam aliquid at.
            Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
            expedita aperiam aliquid at.
            Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
            expedita aperiam aliquid at.
            Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
            expedita aperiam aliquid at.
            Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
            expedita aperiam aliquid at.
            Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
            expedita aperiam aliquid at.
            Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
            mollitia inventore?
        </p>
    </div>
    </div>
    </div>
</div>
{% endblock %}
